<div class="bckToHome">
    <a (click)="backtoHome()">Back to home page</a>
</div>
<div class="body">
    <div class="receipt">
        <div class="qr-code">
            <img src="../../../assets/qr2.png" alt="QR Code">
        </div>
        <h4>Order Summary</h4>
        <div class="order-info">
            <div class="order-date">
                <span>Date</span>
                <span>02 May 2023</span>
            </div>
            <div class="order-number">
                <span>Order Number</span>
                <span>024-125478956</span>
            </div>
            <div class="payment-method">
                <span>Payment Method</span>
                <span>Mastercard</span>
            </div>
        </div>
        <div class="order-items">
            <div class="item">
                <img src="../../../assets/cricket2.jfif" alt="All In One Chocolate Combo">
                <div class="item-details">
                    <span class="item-name">Cricket</span><br>
                    <span class="item-pack">Hours: 3 Hour's</span><br>
                    <span class="item-qty">Price: 500</span>
                </div>
                <span class="item-price">1500.00</span>
            </div>
            <div class="item">
                <img src="../../../assets/swiming.jfif" alt="Desire Of Hearts">
                <div class="item-details">
                    <span class="item-name">Swimming</span><br>
                    <span class="item-pack">Hours: 2 Hours</span><br>
                    <span class="item-qty">Price: 200</span>
                </div>
                <span class="item-price">400.00</span>
            </div>
        </div>
        <div class="order-summary">
            <div class="summary-item">
                <span>Sub Total</span>
                <span>1900.00</span>
            </div>
            <div class="summary-item">
                <span>Maitainance</span>
                <span>2.00</span>
            </div>
            <div class="summary-item">
                <span>Tax</span>
                <span>5.00</span>
            </div>
            <div class="summary-total">
                <span>Order Total</span>
                <span>1907.00</span>
            </div>
        </div>
    </div>
</div>
