<div class="body">
    <div class="account-settings">
        <h4>User Profile</h4>
        <nav>
            <ul>
                <li class="active">My Profile</li>
                <li>Billing</li>
                <li>Notifications</li>
                <li>Security</li>
            </ul>
        </nav>
        <div class="profile-section">
            <div class="profile-card">
                <div class="profile-header">
                    <img src="../../../assets/supervisor.png" alt="Profile Picture" class="profile-pic">
                    <div class="profile-info">
                        <h5>Thomas Smith</h5>
                        <p>Cricket & Swimming</p>
                    </div>
                    <div class="qr">
                        <img src="../../../assets/qr2.png" height="50px" width="50px" alt="">
                    </div>
                </div>
                <button class="edit-button">Edit</button>
                <div class="personal-info">
                    <h5>Personal Information</h5>
                    <hr>
                    <div class="info-group">
                        <p><strong>First Name:</strong> Thomas</p>
                        <p><strong>Last Name:</strong> Smith</p>
                    </div>
                    <div class="info-group">
                        <p><strong>Email:</strong> thomas.smith@akrobat.com</p>
                        <p><strong>Phone:</strong> +1 817 718 8273</p>
                    </div>
                    <p><strong>Bio:</strong> CEO and Co-Founder of Akrobat Design Studio</p>
                </div>
            </div>
            <div class="address-card">
                <div class="address">
                <button class="edit-button">Edit</button>
                <h5>Address</h5>
                <hr>
                <p><strong>Country:</strong> United States of America</p>
                <p><strong>State:</strong> NY</p>
                <p><strong>City:</strong> New York City</p>
                <p><strong>Postal Code:</strong> 10011</p>
                </div>
            </div>
        </div>
    </div>
</div>