.container {
    background:  #ebe9e9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3 {
    text-align: center;
    color: #333;
}

.form-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group .error {
    color: red;
    font-size: 0.9em;
    display: none;
}

.form-group button {
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: span 3;
}

.form-group button:hover {
    background-color: #357ab7;
}
